<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login-styles.css" />
    <script src="script.js"></script>
  </head>
  <body>
    <main>
      <div class="form-container">
        <div class="logo">
          <img src="/seda logo.jpg" alt="Seda Logo" class="logo-img" />
        </div>
        <h2 class="heading-1">Visitor Register Login</h2>
        <form action="/api/auth/login" method="post">
          <span class="legend">
            <label for="branch">Branch: </label>
            <select name="branch" id="branch">
              <option value="Tshwane">Tshwane</option>
              <option value="Johannesburg">Johannesburg</option>
              <option value="Gauteng Provincial Office">
                Gauteng Provincial Office
              </option>
              <option value="Ekurhuleni">Ekurhuleni</option>
              <option value="Mamelodi">Mamelodi</option>
              <option value="Attredgeville">Attredgeville</option>
              <option value="Olievenhoutbosch">Olievenhoutbosch</option>
              <option value="Cullinan">Cullinan</option>
              <option value="Bronkhorspruit">Bronkhorspruit</option>
              <option value="Mabopane">Mabopane</option>
            </select>
          </span>

          <span class="legend">
            <label for="password">Password: </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Please enter a password"
              required
            />
          </span>

          <button type="submit" id="login-form-submit">Submit</button>
        </form>
      </div>
    </main>

    <footer>
      <h3>Contact Us</h3>
      <br />
      Physical Address: The Fields, Office Block A, 1066 Burnett Street Hatfield
      0833 Pretoria Postal Address: P.O Box 56714, Arcadia, 0007 Tel: +27 12 441
      1000 Fax: +27 12 441 2064

      <br />
      <br />
      <strong>National Information Centre</strong>
      <br />
      <strong>Tel: </strong>0860 103 703
      <br />
      <strong>Email: </strong
      ><a href="mailto:info@seda.org.za">info@seda.org.za</a>
    </footer>
    <script>
      const btn = document.getElementById("menu-btn");
      const backBtn = document.querySelector(".side-menu-back-arrow");
      const sideMenu = document.querySelector(".side-menu-container");

      backBtn.addEventListener("click", () => {
        sideMenu.style.display = "none";
      });

      btn.addEventListener("click", () => {
        sideMenu.style.display = "block";
      });
    </script>
  </body>
</html>
