<footer>
  <h3>Contact Us</h3>
  <br />
  Physical Address: The Fields, Office Block A, 1066 Burnett Street Hatfield
  0833 Pretoria Postal Address: P.O Box 56714, Arcadia, 0007 Tel: +27 12 441
  1000 Fax: +27 12 441 2064

  <br />
  <br />
  <strong>National Information Centre</strong>
  <br />
  <strong>Tel: </strong>0860 103 703
  <br />
  <strong>Email: </strong><a href="mailto:info@seda.org.za">info@seda.org.za</a>
</footer>
